@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Bubblegum+Sans&family=Maven+Pro&display=swap');

main {
  font-family: 'Baloo Paaji 2', cursive;
}

.navigation-font {
  font-family: 'Bubblegum Sans', cursive;
}

.gradient-text {
  background: linear-gradient(to right, RGBa(25, 135, 84), rgba(255, 0, 0, 0.598), RGBa(255, 193, 7));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* give nav dropdown visual priority over alert element */

.dropdown-menu {
  overflow: visible;
  z-index: 9999;
}

/* home page header section */
#hero>div {
  text-align: left;
  height: 48px !important;
  line-height: 48px !important;

  overflow: hidden;
}

div.word-list span {
  display: block;
  height: 48px !important;
  line-height: 48px !important;
}

div.word-list {
  position: relative;
  animation: cycle ease 7s infinite;
}

@keyframes cycle {
  0% {
    top: 0
  }

  10% {
    top: 0
  }

  20% {
    top: -48px
  }

  30% {
    top: -48px
  }

  40% {
    top: -96px;
  }

  50% {
    top: -96px;
  }

  60% {
    top: -144px;
  }

  70% {
    top: -144px;
  }

  80% {
    top: -192px;
  }

  90% {
    top: -192px;
  }

  100% {
    top: 0px;
  }
}

.word-list>span:nth-child(1) {
  color: #ff4258;
}

.word-list>span:nth-child(2) {
  color: #00ff0d;
}

.word-list>span:nth-child(3) {
  color: #0048ff;
}

.word-list>span:nth-child(4) {
  color: #a56ffd;
}

.word-list>span:nth-child(5) {
  color: #1dceff;
}

.accordion-collapse {
  transition: height 0.3s ease-in-out;
}

body {
  background: linear-gradient(#5fc367, #f8ffff);
}