@import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&family=Bubblegum+Sans&family=Maven+Pro&display=swap');

main {
  font-family: 'Baloo Paaji 2', cursive;
}

.navigation-font {
  font-family: 'Bubblegum Sans', cursive;
}

.gradient-text {
  background: linear-gradient(to right, RGBa(25, 135, 84), rgba(255, 0, 0, 0.598), RGBa(255, 193, 7));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* give nav dropdown visual priority over alert element */

.dropdown-menu {
  overflow: visible;
  z-index: 9999;
}

/* home page header section */
#hero>div {
  text-align: left;
  height: 48px !important;
  line-height: 48px !important;

  overflow: hidden;
}

div.word-list span {
  display: block;
  height: 48px !important;
  line-height: 48px !important;
}

div.word-list {
  position: relative;
  animation: cycle ease 7s infinite;
}

@keyframes cycle {
  0% {
    top: 0
  }

  10% {
    top: 0
  }

  20% {
    top: -48px
  }

  30% {
    top: -48px
  }

  40% {
    top: -96px;
  }

  50% {
    top: -96px;
  }

  60% {
    top: -144px;
  }

  70% {
    top: -144px;
  }

  80% {
    top: -192px;
  }

  90% {
    top: -192px;
  }

  100% {
    top: 0px;
  }
}

.word-list>span:nth-child(1) {
  color: #ff4258;
}

.word-list>span:nth-child(2) {
  color: #00ff0d;
}

.word-list>span:nth-child(3) {
  color: #0048ff;
}

.word-list>span:nth-child(4) {
  color: #a56ffd;
}

.word-list>span:nth-child(5) {
  color: #1dceff;
}

.accordion-collapse {
  transition: height 0.3s ease-in-out;
}

body {
  --s: 100px;
  /* control the size */
  --c1: rgba(225, 245, 196, 1);
  /* lower opacity value */
  --c2: rgba(59, 129, 131, 0.5);
  /* lower opacity value */

  --_g: #0000, #0004 5%,
    var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%, var(--c1) 36% 44%,
    var(--c2) 46% 54%, var(--c1) 56% 64%, var(--c2) 66% 74%, var(--c1) 76% 84%,
    var(--c2) 86% 94%, #0004 95%, #0000;
  background:
    radial-gradient(100% 50% at 100% 0, var(--_g)),
    radial-gradient(100% 50% at 0 50%, var(--_g)),
    radial-gradient(100% 50% at 100% 100%, var(--_g));
  background-size: var(--s) calc(2*var(--s));
}