{% extends "_base.html" %}

{% block html %}

<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
  {% block head %}{{ block.super }}{% endblock %}
  <!-- <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="icon" href="http://localhost:8080/favicon.ico">
  <title>
    vue-games
  </title> -->
<script defer src="http://localhost:8080/js/chunk-vendors.js"></script><script defer src="http://localhost:8080/js/app.js"></script></head>

<body>
  {% block body %}
  {{ block.super }}
  <noscript>
    <strong>We're sorry but vue-games doesn't work properly without JavaScript enabled.
        Please enable it to continue.
    </strong>
  </noscript>
  <div id="app"></div>
  <!-- built files will be auto injected -->
  {% endblock body %}
</body>

</html>
{% endblock html %}