<!DOCTYPE html>
{% block html %}

<html lang="en">

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %} | Games</title>
  {% endblock head %}
</head>

<body>
  {% block body %}
  <header>
    <nav>
      <nav class="navbar navbar-expand-lg bg-dark bg-opacity-25">
        <div class="container">
          <a class="navbar-brand" href="{% url 'games:homepage' %}">Play2Learn</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'games:homepage' %}">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  Games
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="{% url 'games:anagram-game' %}">Anagram Hunt</a></li>
                  <li><a class="dropdown-item" href="{% url 'games:math-game' %}">Math Game</a></li>
                  <li><a class="dropdown-item" href="{% url 'games:game-scores' %}">Game Scores</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about.html">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="login.html">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </nav>
  </header>
  {% block main %}{% endblock main %}
  {% endblock body %}
</body>

</html>
{% endblock html %}