<!DOCTYPE html>
<html lang="en">
{% load static %}
{% block html %}

<head>
  {% block head %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/0e33780c76.js" crossorigin="anonymous"></script>
  <link rel="shortcut icon" type="image/png" href="{% static 'dist/img/favicon-32x32.png' %}">
  <title>{% block title %}{% endblock title %}</title>
  {% endblock head %}
</head>

<body>
  {% block body %}
  <header>
    <nav class="navbar navbar-expand-lg" style="background-color: rgb(195, 107, 34); color: #fff">
      <div class="container">
        <a class="navbar-brand" href="{% url 'games:homepage' %}">Play2Learn</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse fw-bold" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'games:homepage' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Games
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'games:anagram-game' %}">Anagram Hunt</a></li>
                <li><a class="dropdown-item" href="{% url 'games:math-game' %}">Math Game</a></li>
                <li><a class="dropdown-item" href="{% url 'games:game-scores' %}">Game Scores</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contactus:form' %}">Contact Us</a>
            </li>
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_login' %}">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}">Sign up</a>
            </li>
            {% else %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Me
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'my-account' %}">My Account</a></li>
                <div class="dropdown-divider"></div>
                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  <button class="btn dropdown-item">Log out</button>
                </form>
              </ul>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>

  </header>
  <main>
    {% block main %}
    {% endblock main %}
  </main>

  <footer class="container-fluid border-top fixed-bottom text p-2 text-center"
    style="background-color: rgb(195, 107, 34)">
    <div class="row">
      <div class="col">&copy; 2022 Play2Learn.</div>
      {% if user.is_staff %}
      <div class="col">
        <li class="nav-item list-unstyled">
          <a class="nav-link" href="/admin/">Admin</a>
        </li>
      </div>
      {% endif %}
      <div id="footLinks" class="col">
        <a href="https://instagram.com" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://twitter.com" target="_blank"><i class="fa-brands fa-square-twitter"></i></a>
        <a href="https://facebook.com" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      </div>
    </div>
  </footer>
  <!-- <script src="{% static 'dist/js/indexjs.js' %}"></script>
  <script src="{% static 'dist/js/mathfacts.js' %}"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  {% endblock body %}
</body>

{% endblock html %}

</html>